# Created by venv; see https://docs.python.org/3/library/venv.html

# windows gitignore
Lib/
Scripts/
Include/

# linux gitignore
lib/
lib64/
bin/
include/
share/

pyvenv.cfg
data/__pycache__/
__pycache__/

.gradio